body {
    margin: 0;
    height: 100vh;
    background-image: url("./Fondo.jpg");
    background-position: center;
    background-size: cover;
  }
  
  .glass {
    height: 250px;
    padding: 50px;
  }
  